
@media only screen and (min-width: 768px) {
    .Main-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 10px;
        margin-left: 10%;
        margin-right: 10%;
        align-items: flex-start;
        color: lightgray;
        font-size: calc(10px + 0.55vmin);
        overflow: hidden;
        background-color: #282B30;
        border-radius: 5px;
        font-weight: 300;
    }
    .Main-hr {
        width: calc(80% + 20px);
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .Main-sub-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: calc(10px + 0.55vmin);
        font-weight: 300;
        align-items: flex-start;
    }

    .Main-subheader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: lightgray;
        font-size: calc(10px + 1vmin);
        font-weight: 400;
    }
    .Main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;
        padding: 0 20px;
        color: lightgray;
        font-size: calc(10px + 1.5vmin);
        font-weight: 400;
    }
    .Main-textarea {
        resize: none;
        overflow: hidden;
        width: 50%;
        background-color: #282B30;
        color: lightgray;
        font-size: calc(10px + 0.75vmin);
        height: calc(10px + 0.75vmin);
    }
    .Main-button {
        cursor: pointer;
        color: gray;
        transition: color .1s linear;
        margin-top: 5px;
        padding: 0px 10px;
        line-height: 100%;
        font-size: calc(10px + 0.85vmin);
        text-align: center;
        font-weight: 700;
    }
    
    .Main-button:hover {
        color: #33AAB3;
        border-bottom: 1px solid currentColor;
    }

    .Main-transaction-body {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
    }
    .Main-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: gray;
    }
    .Main-transaction {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #202225;
        width: calc(100% - 20px);
        border-radius: 5px;
        padding: 10px;
        font-size: calc(10px + 0.3vmin);
        color: lightgray;
        margin-bottom: 2px;
    }

    .Disc-button {
        border-radius: 5px;
        background-color: #7289DA;
        padding: 2px 21px;
        font-weight: 400;
        cursor: pointer;
        display: inline-block;
        transition: background-color .2s linear;
        color: white;
    }

    .Disc-button:hover {
        background-color: #697ec4;
    }

    .Disc-button-cancel {
        border-radius: 5px;
        background-color: #F04747;
        padding: 2px 21px;
        cursor: pointer;
        display: inline-block;
        transition: background-color .2s linear;
        color: white;
    }

    .Disc-button-cancel:hover {
        background-color: #A33030;
    }
}

