.transaction-body {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    text-align: left;
    flex-shrink: 0;
    height: fit-content;
    flex-wrap: wrap;
}

.transaction-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #282B30;
    border: 1px solid #101010;
    width: calc(100% - 22px);
    border-radius: 5px;
    padding: 10px;
    font-size: calc(10px + 0.3vmin);
    color: lightgray;
    margin-bottom: 2px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    flex-wrap: wrap;

}

.transaction-subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: lightgray;
    font-size: calc(10px + 1vmin);
    font-weight: 400;
    width: 100%;
}

.transaction-button {
    cursor: pointer;
    color: gray;
    transition: color .1s linear;
    margin-top: 5px;
    padding: 0px 10px;
    line-height: 100%;
    font-size: calc(10px + 0.85vmin);
    text-align: center;
    font-weight: 700;
}
  
.transaction-button:hover {
    color: #33AAB3;
    border-bottom: 1px solid currentColor;
}

.transaction-block-button {
    cursor: pointer;
    color: white;
    background-color: #7289DA;
    transition: background-color .1s linear;
    font-size: calc(10px + 0.5vmin);
    text-align: center;
    font-weight: 400;
    border-radius: 3px;
    margin-top: 10px;
    padding: 4px 0px;
}

.transaction-block-button:hover {
    background-color: #697ec4;
}


.transaction-confirm-button {
    cursor: pointer;
    color: white;
    background-color: #7289DA;
    transition: background-color .1s linear;
    font-size: calc(10px + 0.5vmin);
    text-align: center;
    font-weight: 400;
    border-radius: 3px;
    padding: 4px 0px;
    width: calc(50% - 1px);
}

.transaction-confirm-button:hover {
    background-color: #697ec4;
}

.transaction-cancel-button {
    cursor: pointer;
    color: white;
    background-color: #F04747;
    padding: 4px 0px;
    transition: background-color .1s linear;
    font-size: calc(10px + 0.5vmin);
    text-align: center;
    font-weight: 400;
    border-radius: 3px;
    width: calc(50% - 1px);
}

.transaction-cancel-button:hover {
    background-color: #A33030;
}
.transaction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    width: 100%;
    flex-shrink: 1;
    margin-bottom: 10px;
}

.transaction-content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
}